
.body  { margin: 0px; padding: 0px; background-color: #800000; font-family: arial,sans-serif; font-size: 12pt; color: #C0C0C0; }
.body2 { margin: 0px; padding: 0px; background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; background-repeat: repeat-x; }
.body3 { margin: 0px; padding: 0px; background-color: #EEEEEE; font-family: arial,sans-serif; font-size: 12pt; color: #303030; background-repeat: repeat-y; background-position: top center; }
.body4 { margin: 0px; padding: 0px; background-color: #EEEEEE; font-family: arial,sans-serif; font-size: 12pt; color: #303030; background-repeat: repeat-y; background-position: top center; }


.blockheader  { background-color: #B00000; color: #000000; font-weight: bold; }
.blockcontent { background-color: #B0B0B0; color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }

.blockheader2  { background-color: #C0C0C0; color: #000000; font-weight: bold; }
.blockcontent2 { background-color: #FFFFFF; color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }

.blockheader3  { background-color: #C0C0C0; color: #000000; font-weight: bold; }
.blockcontent3 { background-color: #FFFFFF; color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }
.blockcontent4 { background-color: #FFFFFF; color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }

.tableborder  { border-width: 2px; border-style: solid; border-color: #FFFFFF; border-collapse: collapse; }
.tableborder2 { border-width: 2px; border-style: solid; border-color: #000000; border-collapse: collapse; }
.tableborder3 { border-width: 2px; border-style: solid; border-color: #000000; border-collapse: collapse; }
.tableborder4 { border-width: 2px; border-style: solid; border-color: #000000; border-collapse: collapse; }


.whitebold { color: white; font-weight: bold; }
.graybold  { color: #C0C0C0; font-weight: bold; }
.topicbold { color: #C0C0C0; font-weight: bold; font-size: 18pt; }
.note      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; }

.header    { background-color: #B00000; font-family: arial,sans-serif; font-size: 12pt; }
.footer    { background-color: #B00000; font-family: arial,sans-serif; font-size: 12pt; }
.content   { background-color: #800000; font-family: arial,sans-serif; font-size: 12pt; }
.side      { background-color: #B00000; font-family: arial,sans-serif; font-size: 12pt; }
.copyright { background-color: #B00000; font-family: arial,sans-serif; font-size: 10pt; }
.clear     { font-family: arial,sans-serif; font-size: 12pt; }

.separator { background-color: #000000; font-family: arial,sans-serif; font-size: 12pt; }
.headline  { background-color: #B00000; font-family: arial,sans-serif; font-size: 12pt; }
.menu      { background-color: #B00000; font-family: arial,sans-serif; font-size: 12pt; }
.link      { font-family: arial,sans-serif; font-size: 12pt; }
.arrow     { font-family: arial,sans-serif; font-weight: bold; font-size: 12pt; }
.date      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; }
.download  { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }
.order     { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }

pre.code   { background-color: #B00000; font-family: courier; font-size: 10pt; padding: 4px 4px 4px 4px; color: #DDDDDD; }


.whitebold2 { color: #303030; font-weight: bold; }
.graybold2  { color: #DBDBDB; font-weight: bold; }
.topicbold2 { color: #303030; font-weight: bold; font-size: 18pt; }
.note2      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; color: #303030; }

.header2    {                            font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.footer2    { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.content2   { background-color: #EEEEEE; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.side2      {                            font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.copyright2 { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 10pt; color: #303030; }
.clear2     { font-family: arial,sans-serif; font-size: 12pt; color: #303030; }

.separator2 { background-color: #000000; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.headline2  { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.menu2      {                            font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.link2      { font-family: arial,sans-serif; font-size: 12pt; }
.arrow2     { font-family: arial,sans-serif; font-weight: bold; font-size: 12pt; }
.date2      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; }
.download2  { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }
.order2     { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }

pre.code2   { background-color: #DDDDDD; font-family: courier; font-size: 10pt; padding: 4px 4px 4px 4px; color: #000000; }


.whitebold3 { color: #303030; font-weight: bold; }
.graybold3  { color: #DBDBDB; font-weight: bold; }
.topicbold3 { color: #303030; font-weight: bold; font-size: 18pt; }
.h3         { color: #303030; font-weight: bold; font-size: 24pt; }
.note3      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; color: #303030; }

.logo3      { background-color: #0040FF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.header3    {                            font-family: arial,sans-serif; font-size: 12pt; color: #FFFFFF; }
.footer3    { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.content3   { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.side3      {                            font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.topborder3    { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 10pt; color: #303030; background-repeat: no-repeat; background-position: top center; }
.bottomborder3 { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 10pt; color: #303030; background-repeat: no-repeat; background-position: bottom center; }
.copyright3    { background-color: #0040FF; font-family: arial,sans-serif; font-size: 10pt; color: #FFFFFF; }
.clear3        { font-family: arial,sans-serif; font-size: 12pt; color: #303030; }

.clearborder3   { font-family: arial,sans-serif; font-size: 12pt; color: #303030; border-radius: 10px; }
.contentborder3 { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; border-radius: 50px; }

.separator3 { background-color: #000000; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.headline3  { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.menu3      {                            font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.link3      { font-family: arial,sans-serif; font-size: 12pt; }
.arrow3     { font-family: arial,sans-serif; font-weight: bold; font-size: 12pt; }
.date3      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; }
.download3  { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }
.order3     { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }

pre.code3   { background-color: #DDDDDD; font-family: courier; font-size: 10pt; padding: 4px 4px 4px 4px; color: #000000; }


.whitebold4 { color: #303030; font-weight: bold; }
.graybold4  { color: #FFFFFF; font-weight: bold; }
.topicbold4 { color: #303030; font-weight: bold; font-size: 18pt; }
.h4         { color: #303030; font-weight: bold; font-size: 24pt; }
.note4      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; color: #303030; }

.bodyheader4 { background-color: #D6D6D6; font-family: arial,sans-serif; font-size: 12pt; }
.bodyfooter4 { background-color: #D6D6D6; font-family: arial,sans-serif; font-size: 12pt; }
.linkheader4 { background-color: #415090; font-family: arial,sans-serif; font-size: 12pt; color: #FFFFFF; }

.logo4      { background-color: #0c112a; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.header4    {                            font-family: arial,sans-serif; font-size: 12pt; color: #FFFFFF; }
.footer4    { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.content4   { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.side4      {                            font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.topborder4    { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 10pt; color: #303030; background-repeat: no-repeat; background-position: top center; }
.bottomborder4 { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 10pt; color: #303030; background-repeat: no-repeat; background-position: bottom center; }
.copyright4    { background-color: #415090; font-family: arial,sans-serif; font-size: 10pt; color: #FFFFFF; }
.clear4        { font-family: arial,sans-serif; font-size: 12pt; color: #303030; }

.clearborder4   { font-family: arial,sans-serif; font-size: 12pt; color: #303030; border-radius: 10px; }
.contentborder4 { background-color: #FFFFFF; font-family: arial,sans-serif; font-size: 12pt; color: #303030; border-radius: 50px; }

.separator4 { background-color: #000000; font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.headline4  { background-color: #415090; font-family: arial,sans-serif; font-size: 12pt; color: #FFFFFF; }
.menu4      {                            font-family: arial,sans-serif; font-size: 12pt; color: #303030; }
.link4      { font-family: arial,sans-serif; font-size: 12pt; }
.arrow4     { font-family: arial,sans-serif; font-weight: bold; font-size: 12pt; }
.date4      { font-family: arial,sans-serif; font-style: italic; font-size: 10pt; color: #FFFFFF; }
.download4  { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }
.order4     { color: #000000; font-weight: bold; font-family: arial,sans-serif; font-size: 12pt; }

pre.code4   { background-color: #D6D6D6; font-family: courier; font-size: 10pt; padding: 4px 4px 4px 4px; color: #000000; }


/* separator */


.header A:link    { color: #C0C0C0; text-decoration: none }
.header A:visited { color: #C0C0C0; text-decoration: none }
.header A:active  { color: #C0C0C0; text-decoration: none }
.header A:hover   { color: white; text-decoration: underline }

.footer A:link    { color: #C0C0C0; text-decoration: none }
.footer A:visited { color: #C0C0C0; text-decoration: none }
.footer A:active  { color: #C0C0C0; text-decoration: none }
.footer A:hover   { color: white; text-decoration: underline }

.menu A:link    { color: #C0C0C0; text-decoration: none }
.menu A:visited { color: #C0C0C0; text-decoration: none }
.menu A:active  { color: #C0C0C0; text-decoration: none }
.menu A:hover   { color: white; text-decoration: underline }

.side A:link    { color: #C0C0C0; text-decoration: none }
.side A:visited { color: #C0C0C0; text-decoration: none }
.side A:active  { color: #C0C0C0; text-decoration: none }
.side A:hover   { color: white; text-decoration: underline }

.arrow A:link    { color: #C0C0C0; text-decoration: none }
.arrow A:visited { color: #C0C0C0; text-decoration: none }
.arrow A:active  { color: #C0C0C0; text-decoration: none }
.arrow A:hover   { color: white; text-decoration: none }

.link A:link    { color: #C0C0C0; text-decoration: none }
.link A:visited { color: #C0C0C0; text-decoration: none }
.link A:active  { color: #C0C0C0; text-decoration: none }
.link A:hover   { color: white; text-decoration: underline }

.content A:link    { color: #C0C0C0 }
.content A:visited { color: #C0C0C0 }
.content A:active  { color: #C0C0C0 }
.content A:hover   { color: white; text-decoration: underline }

.download A:link    { color: #000000; text-decoration: underline }
.download A:visited { color: #000000; text-decoration: underline }
.download A:active  { color: #000000; text-decoration: underline }
.download A:hover   { color: white; text-decoration: underline }

.order A:link    { color: #000000; text-decoration: underline }
.order A:visited { color: #000000; text-decoration: underline }
.order A:active  { color: #000000; text-decoration: underline }
.order A:hover   { color: white; text-decoration: underline }


/* separator */


.header2 A:link    { color: #303030; text-decoration: none }
.header2 A:visited { color: #303030; text-decoration: none }
.header2 A:active  { color: #303030; text-decoration: none }
.header2 A:hover   { color: blue; text-decoration: underline }

.footer2 A:link    { color: #303030; text-decoration: none }
.footer2 A:visited { color: #303030; text-decoration: none }
.footer2 A:active  { color: #303030; text-decoration: none }
.footer2 A:hover   { color: blue; text-decoration: underline }

.menu2 A:link    { color: #303030; text-decoration: none }
.menu2 A:visited { color: #303030; text-decoration: none }
.menu2 A:active  { color: #303030; text-decoration: none }
.menu2 A:hover   { color: blue; text-decoration: underline }

.side2 A:link    { color: #303030; text-decoration: none }
.side2 A:visited { color: #303030; text-decoration: none }
.side2 A:active  { color: #303030; text-decoration: none }
.side2 A:hover   { color: blue; text-decoration: underline }

.arrow2 A:link    { color: #303030; text-decoration: none }
.arrow2 A:visited { color: #303030; text-decoration: none }
.arrow2 A:active  { color: #303030; text-decoration: none }
.arrow2 A:hover   { color: blue; text-decoration: none }

.link2 A:link    { color: #303030; text-decoration: none }
.link2 A:visited { color: #303030; text-decoration: none }
.link2 A:active  { color: #303030; text-decoration: none }
.link2 A:hover   { color: blue; text-decoration: underline }

.content2 A:link    { color: #303030 }
.content2 A:visited { color: #303030 }
.content2 A:active  { color: #303030 }
.content2 A:hover   { color: blue; text-decoration: underline }

.download2 A:link    { color: #000000; text-decoration: underline }
.download2 A:visited { color: #000000; text-decoration: underline }
.download2 A:active  { color: #000000; text-decoration: underline }
.download2 A:hover   { color: blue; text-decoration: underline }

.order2 A:link    { color: #000000; text-decoration: underline }
.order2 A:visited { color: #000000; text-decoration: underline }
.order2 A:active  { color: #000000; text-decoration: underline }
.order2 A:hover   { color: blue; text-decoration: underline }


/* separator */


.header3 A:link    { color: #FFFFFF; text-decoration: none }
.header3 A:visited { color: #FFFFFF; text-decoration: none }
.header3 A:active  { color: #FFFFFF; text-decoration: none }
.header3 A:hover   { color: white; text-decoration: underline }

.footer3 A:link    { color: #303030; text-decoration: none }
.footer3 A:visited { color: #303030; text-decoration: none }
.footer3 A:active  { color: #303030; text-decoration: none }
.footer3 A:hover   { color: blue; text-decoration: underline }

.menu3 A:link    { color: #303030; text-decoration: none }
.menu3 A:visited { color: #303030; text-decoration: none }
.menu3 A:active  { color: #303030; text-decoration: none }
.menu3 A:hover   { color: blue; text-decoration: underline }

.side3 A:link    { color: #303030; text-decoration: none }
.side3 A:visited { color: #303030; text-decoration: none }
.side3 A:active  { color: #303030; text-decoration: none }
.side3 A:hover   { color: blue; text-decoration: underline }

.arrow3 A:link    { color: #303030; text-decoration: none }
.arrow3 A:visited { color: #303030; text-decoration: none }
.arrow3 A:active  { color: #303030; text-decoration: none }
.arrow3 A:hover   { color: blue; text-decoration: none }

.link3 A:link    { color: #303030; text-decoration: none }
.link3 A:visited { color: #303030; text-decoration: none }
.link3 A:active  { color: #303030; text-decoration: none }
.link3 A:hover   { color: blue; text-decoration: underline }

.content3 A:link    { color: #303030 }
.content3 A:visited { color: #303030 }
.content3 A:active  { color: #303030 }
.content3 A:hover   { color: blue; text-decoration: underline }

.download3 A:link    { color: #000000; text-decoration: underline }
.download3 A:visited { color: #000000; text-decoration: underline }
.download3 A:active  { color: #000000; text-decoration: underline }
.download3 A:hover   { color: blue; text-decoration: underline }

.order3 A:link    { color: #000000; text-decoration: underline }
.order3 A:visited { color: #000000; text-decoration: underline }
.order3 A:active  { color: #000000; text-decoration: underline }
.order3 A:hover   { color: blue; text-decoration: underline }


/* separator */

.copyright4 A:link    { color: #FFFFFF; text-decoration: none }
.copyright4 A:visited { color: #FFFFFF; text-decoration: none }
.copyright4 A:active  { color: #FFFFFF; text-decoration: none }
.copyright4 A:hover   { color: white; text-decoration: underline }

.linkheader4 A:link    { color: #FFFFFF; text-decoration: none }
.linkheader4 A:visited { color: #FFFFFF; text-decoration: none }
.linkheader4 A:active  { color: #FFFFFF; text-decoration: none }
.linkheader4 A:hover   { color: white; text-decoration: underline }

.header4 A:link    { color: #FFFFFF; text-decoration: none }
.header4 A:visited { color: #FFFFFF; text-decoration: none }
.header4 A:active  { color: #FFFFFF; text-decoration: none }
.header4 A:hover   { color: white; text-decoration: underline }

.footer4 A:link    { color: #303030; text-decoration: none }
.footer4 A:visited { color: #303030; text-decoration: none }
.footer4 A:active  { color: #303030; text-decoration: none }
.footer4 A:hover   { color: blue; text-decoration: underline }

.menu4 A:link    { color: #303030; text-decoration: none }
.menu4 A:visited { color: #303030; text-decoration: none }
.menu4 A:active  { color: #303030; text-decoration: none }
.menu4 A:hover   { color: blue; text-decoration: underline }

.side4 A:link    { color: #303030; text-decoration: none }
.side4 A:visited { color: #303030; text-decoration: none }
.side4 A:active  { color: #303030; text-decoration: none }
.side4 A:hover   { color: blue; text-decoration: underline }

.arrow4 A:link    { color: #303030; text-decoration: none }
.arrow4 A:visited { color: #303030; text-decoration: none }
.arrow4 A:active  { color: #303030; text-decoration: none }
.arrow4 A:hover   { color: blue; text-decoration: none }

.link4 A:link    { color: #303030; text-decoration: none }
.link4 A:visited { color: #303030; text-decoration: none }
.link4 A:active  { color: #303030; text-decoration: none }
.link4 A:hover   { color: blue; text-decoration: underline }

.content4 A:link    { color: #303030 }
.content4 A:visited { color: #303030 }
.content4 A:active  { color: #303030 }
.content4 A:hover   { color: blue; text-decoration: underline }

.download4 A:link    { color: #000000; text-decoration: underline }
.download4 A:visited { color: #000000; text-decoration: underline }
.download4 A:active  { color: #000000; text-decoration: underline }
.download4 A:hover   { color: blue; text-decoration: underline }

.order4 A:link    { color: #000000; text-decoration: underline }
.order4 A:visited { color: #000000; text-decoration: underline }
.order4 A:active  { color: #000000; text-decoration: underline }
.order4 A:hover   { color: blue; text-decoration: underline }

